.premimum-inner-container{
    height: 100%;
}
.premimum-header{
    background-color: #000;
    color:#fff;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0 12px;
    font-size: 12.5px;

}
.premimum-menu-container{
    display: flex;
}
.premimum-menu-sub-container{
    background-color:#fff;
    color:black;
    padding:5px 10px;
    border-radius: 21.5px;
}
.premimum-menu-sub-container-hamberger-img{
    width: 26px;
    height: 22px;
}