.body
{
    background-color:#fef6e4 ;
    margin:0;
    padding:0;
}

.button
{
    background-color: #f582ae;
    color: #001858;
}

.header-main-container
  {
    height: 500px;
    width: 1420px;
    background-color:#f3d2c1;
    margin-top: none;
    margin-left: 50px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 0px 0px 40px 40px;
    padding: 0px;
  }
.header-taskbar-container
  {
    width:1420px ;
    height: 50px;
    background-color:#ff9999 ;
    backdrop-filter: blur(10px);
    display:flex;
  }
  
  .Logo-image{
    margin-top: 8px;
    margin-bottom: 2px;
    margin-left: 30px;
    margin-right:2px; 
  }
  .websitename{
    font-family: "Roboto Condensed", sans-serif;
    color: black;
    font-size: 28px;
    font-weight: 600;
    padding:0%;
    margin-top: 8px;
    margin-right: 300px;
  }

  .top-right-header-container{
    display: flex;
    align-items: end;
    margin:20px;
    padding:10px;
    position: relative;
    

  }
  .Premium-button{
    background: linear-gradient(to right, purple,#33ccff);
    color:white;
    font-weight: 500;
    font-size: 20px;
    border: none;
    border-radius: 40px;
    margin:-13px 20px;
    padding: 4px;
    padding-left: 30px;
    padding-right: 30px;
    
  }
  .premium-button-text{
    align-items: center;
  }
  .header-link-pages-container{
    
    width: 730px;
    justify-content: space-around;
    background-color:#ff9999 ;
    gap:20px;
    flex-direction: column;
    border-radius:15px 15px 40px 40px;
    padding-top: 18px;
    margin-left: 160px;
    

  }
  .header-link-pages{
    
    font-size: 20px;
    font-weight: 300;
    color:black;
    margin:-10px 12px;
  }
  .Link-pages{
   
   padding: 10px;
   margin-top: 30px;
   margin-left: 30px;

  }
  .text-link
  {
    padding: 10px;
    margin: 10px 10px;
    font-size: 20px;
    font-weight: 300;
    color:black;
    font-weight: 400;
    text-decoration: none;
  }
  .link-pages-container{
    background-color:#ff6699;
    height: 30px;
    width: 100px;
    align-items: center;
    
  }
   .header-heading-text{
    margin-top: 180px;
    margin-left: 160px;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: none;
   }
   .header-input-box{
    margin:0 auto;
    margin-top: 30px;
    display: block;
    width: 100%;
    border:none;
    border-radius:35px 35px 38px 38px;
    font-size: 20px;
    padding: 23px;
    text-decoration: none;
   }
    
   .Navbar-container{
    display:flex;

   }
   .Main-Navbar-container{
    display:block;
   }
   .header-img{
    height: 300px;
    width: 360px;
    margin:70px 70px;
    border-radius: 20px;
    box-shadow: 10px 6px 15px #737373;
    transform: perspective(200px) rotate3D(0, 1, 0, -10deg);
   }
    
  .heading-color
  {
      color: #001858;
  }

.heading-font-style
  {
    font-family:"Outfit", sans-serif;
  }

.text-font-style
  {
    font-family: "Montserrat", sans-serif;
  }
  footer {
    text-align: center;
    padding: 1em 0;
    background-color:#f3d2c1;
    color: black;
    border:0px solid ;
    width: 1500px;
    margin: none;

}

.footer-container {
    width: 100%;
    height: 40px;
    
    
}

  
  .footer-img{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 10px;
    margin: 0 10px ;
  }
  .foot-text{
    font-size: 20px;
    color:#001858;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    margin: 10px;
    padding: 10px;
    align-items: center;

  }
.footer-child-container{
  display: flex;
}


.footer-child-container2{
  display:flex;
  margin: 10px 10px;
  color:#001858;
 font-size: 30px;
 font-weight: 400;
}
.Logo-image2{
  margin-top: 8px;
  margin-bottom: 2px;
  margin-left: 10px;
  margin-right:2px; 
  he
}
.color{
color: #f582ae ;
font-size: 30px;
font-weight: 400;
margin:10px 10px;
}
