body {
    
    background-color:#fef6e4;
    
}

.heading
{
    color:#001858;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:70px;
    text-align: center;
    position: relative;
    margin:50px;
    padding:50px;

}
.paragraph{
    color:#172c66;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.container0
{
    background-color:#f3d2c1;
    display:flexbox;
    flex-direction:row;
    margin:100px 100px;
    padding:30px;
    border:1px solid #fef6e4;
    border-radius:0px 0px;
    border:3px solid #001858 ;
    box-shadow:2px 10px 2px 10px rgb(133, 131, 131);
}
.itam
{

    background-color:#fef6e4;
    
    text-align:center;
    margin: 50px;
    padding:50px;
   
}
.btn
{
    border:1px solid black;
    background-color:#f582ae;
    padding:10px;
    margin:2px;
    color:#001858;
    text-align: center;
    font-size:20px;
    border-radius:100px;
    height:50px;
width:300px;

}
.btn:hover{
    background-color:#8bd3dd;

}
.btn2
{
    border:1px solid black;
    background-color:#2c0eef;
    padding:10px;
    margin:2px;
    color:white;
    text-align: center;
    font-size:20px;
    border-radius:100px;
    height:50px;
width:300px;
}