.Container{
    display: flex;
    flex-direction: row;
    padding:20px;
    border: hsl(20, 50%, 80%) solid 2px;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px 0px #f582ae;

}
.img{
    width: 300px;
    border-radius: 2cap;
    margin-top: 20px;
    padding: 10px;
}
.feature{
    padding: 0px 10px;
}
.btn{
    margin-left: 10px;
    padding:  5px 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 560px;
    text-decoration: none;
    border: solid 0px;
    color: #fff;
   

}
.like-img{
    margin-left:650px;
}
.share-img{
    margin-left: 30px;
}
.btn1{
    margin-left: 30px;
    padding:  5px 10px;
    border-radius: 10px;
    border: solid 0px;
    color: #fff;
}
h2{
    border-bottom: 2px solid #f582ae; 
    padding:10px;
    margin-top:0px;
}
.main-header{
    margin-top: 50px;
    padding:  0px 10px;
}