.header-container{
    background-color:#f3d2c1;
    border-radius: 0px 0px 80px 80px;
    width: 1420;
}
.webname{
    display: block;
}
.img-form-container{
    display: flex;
    align-items: center;
    padding: 40px;
}
.form-container{
    border: 1px solid black;
    margin: 0px 20px;
    padding: 30px ;
    border-radius: 30px;
}
.form-text{
    font-size: 23px;
}
.form-input{
    padding: 7px;
    margin-left: 5px;
    border: 1px solid black;
    background-color: #ffcccc;
    border-radius: 8px;
}
.form-btn{
    width: 150px;
    padding: 8px;
    margin: 5px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 1px 2px rgb(216, 203, 203);
}
.btn-width{
    width: 450px;
    padding: 10px;
}
.form-btn:hover{
    box-shadow: 2px 2px 1px 2px gray;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.card-container{
    padding: 40px;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 80px;
}
.card{
    width: 400px;
    display: flex;
    align-items: center;
    
}
.heading-text{
    font-size: 50px;
     margin-left: 100px;
} 
.image{
    height: 100px;
    margin-right: 40px;
}
.building-image{
   height: 400px;
   margin-left: 80px;
}
.faqs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq-question{
    font-size: 25px;
}
.faq-card{
    width: 600px;
}
.alig-centr{
    text-align: center ;
    display: block;
    margin-top: 100px;
    margin-bottom: 40px;
}
.testimonial-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.testimonial-card{
    width:250px ;
    border: 1px solid black;
    margin: 30px 30px;
    margin-top: 50px;
    border-radius: 20px;
    position: relative;
    padding: 110px 10px 10px 10px;
    text-align: center;
}
.testimonial-card:hover{
    background-color: antiquewhite;
    box-shadow: 4px 4px 3px 2px gray;
}
.customer-img{
    position: absolute;
    width: 150px;
    left: 50px;
    top: -50px;
    padding: 0px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0px auto;
}
.advantage-marketing-container{
    width: 500px;
    margin-top:40px ;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 0.5px solid gainsboro;
    padding: 20px;
    background-color:blanchedalmond;
}
.marketing-img{
    height: 80px;
}
.marketing-main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.advantage-marketing-container:hover{
    box-shadow: 2px 2px 3px 1px gray;
    transition: 1s;
    border-radius: 20px;
}
.help-no{
    width: 700px;
    background-color: white;
    margin-left: 40px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    display: block;
    margin: auto;
    text-align: center;
}
.colr{
    color: #66a3ff;
    cursor: pointer;
}