.premimum-inner-container{
    height: 100%;
    background-color: #800040;
}
.premimum-header{
    background-color: #000;
    color:#fff;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0 12px;
    font-size: 12.5px;

}
.premimum-header-logo{
    height: 18px;
}
.premimum-menu-container{
    display: flex;
    justify-content: space-between;
}
.premimum-menu-sub-container-save{
    display:inline-block;
    font-size: 15px;
    align-self: center;
   
}
.premimum-menu-sub-container-save a{
    color:#fff;
}
.premimum-menu-sub-container-save img{
    width: 12px;
    height: 12px;
   
}
.premimum-menu-sub-container{
    background-color:#fff;
    color:black;
    padding:5px 10px;
    border-radius: 21.5px;
    margin-left: 30px;
}
.premimum-menu-sub-container-hamberger-img{
    width: 26px;
    height: 22px;
}
.premimum-content-container{
    border:0px; 
    width: 1120px;
    margin:10px auto;
}
.premimum-content-section1{
    display: flex;
    justify-content: space-between;

}
.premimum-text-color{
    color: #fff;
}
.premimum-content-section1-rent-section{
    border:1px solid #1e071d;
    width: 65px;
    font-size: 22px;
    height: 35px;
    padding-top:6px;
    border-radius:12px 10px 0px 0px;
    border-right: 0px;
    border-bottom: 0px;
    background-color: #1e071d;
    padding-right: 10px;
    padding-left: 10px;
}
.premimum-content-section1-rent-sectiona{
    height: 35px;
    border-radius: 0 10px 0 0;
    border: 1px solid #1e071d;
    border-left: 0px;
    padding-top: 6px;
    padding-right: 5px;
    transform: skew(25deg, 0deg);
    border-bottom: 0;
    width: 20px;
    right:11px;
    background-color: #1e071d;
    position: relative;
}
.premimum-content-section1-buy-section{
    border:1px solid #5a0f36;
    width: 65px;
    font-size: 15px;
    height: 33px;
    padding-top:6px;
    border-radius:15px 19px 0px 0px;
    border-right: 0px;
    border-bottom: 0px;
    background-color: #5a0f36;
    padding-right: 10px;
    border-left: 0px;
    margin:2px 0px 0px -25px;
    padding-left: 10px;
    line-height: 25px;
}
.premimum-content-section1-buy-section a{
    color:hsla(0,0%,100%,.5);
}
.premimum-content-section1-buy-sectiona{
    height: 32px;
    border-radius: 0 10px 0 0;
    border: 1px solid #5a0f36;
    border-left: 0px;
    padding-top: 6px;
    padding-right: 5px;
    margin-top: 2px;
    transform: skew(40deg, 0deg);
    border-bottom: 0;
    width: 20px;
    right:17px;
    background-color: #5a0f36;
    position: relative;
}
.premimum-content-section2{
    display: flex;
}
.premimum-content-section2 img{
    height: 26px;
}
.premimum-content-section2-content{
    margin-left: 5px;
    color: #fff;
}
.premimum-content-section2-content span{
    font-size: 13px;
}
.premimum-content-section3{
    display: flex;
}
.premimum-content-section3a{
    display:flex;align-items: center;
}
.premimum-content-section3a span{
    margin-top:3px;
    border:1px solid hsla(0,0%,100%,.5);
    background-color: hsla(0,0%,100%,.5); 
    border-radius: 20px;
    padding:5px 5px;
}
.premimum-content-section3b{
    margin-left: 10px;
    display:flex;
    align-items: center;
}
.premimum-content-section3 img{
    height:  26px;
}
.premimum-content-sub-container1{
    width: 100%;
    background-color: #1e071d;
    border:1px solid #1e071d;
    padding:25px 20px;
}
.premimum-content-sub-container2{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsla(0,0%,100%,.5);
    margin-bottom: 25px;
}
.equal-width{
    width: 50%;
}
.display-flex{
    display: flex;
}
.premimum-content-section1-sub-container2{
    width: 50%;
}
.premimum-content-section1-sub-container2 img {
    height: 55px;
}
.premimum-content-section2-sub-container2{
    display: flex; 
    align-items: center;
    width: 50%;
    justify-content:flex-end;
}

.premimum-content-section2-sub-container2 button{
    font-size: 17px;
    border-radius: 8px;
    padding:5px 10px;
    background-color: #f53193;
    border:0px;color: white;
    cursor: pointer;
}
.premimum-content-section2-sub-container2 a {
    font-size: 17px;
    border-radius: 8px;
    padding:5px 10px;
    border:0px;
    color:hsla(0,0%,100%,.5);
    cursor: pointer;
}
.premimum-content-container-sub-conatiner3{
    border-bottom: 1px dotted white;
    width: 100%;
}
.premimum-content-container-sub-conatiner3a
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    font-size: 17px;
    font-weight: 600;
}
.premimum-content-container-sub-conatiner3a-img-container
{
    margin-bottom: 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
}
.premimum-content-container-sub-conatiner3a-time-container{
    background-color:#5DBE74;
    padding: 0.5px 4px;
    border-radius: 20px;
    font-size: 14px;
}