
h2{
    border-bottom: 2px solid #f582ae; 
    padding:10px;
    margin-bottom: 1em;
}

.container
{
    
    border: 2px solid #e6c5b4;
    margin: 5px 0;
    padding: 20px; 
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    box-shadow: 0 0 10px 0px #f582ae;
    
}
.img{
    width: 150px;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
}
.menu-container
{
    
    background-color:#f3d2c1;
    border: 1px solid #ccc;
    margin: 5px;
    width: 200px;
    text-align: center;
    padding: 20px 10px;  
    border-radius: 5px;
    border: #e6c5b4 solid 2px;
   
}
p{
    
    font-family: "Montserrat", sans-serif;

}
.container1
{
    
    background-color:#f3d2c1;
    margin: 2px 0;
    padding: 5px; 
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    border: 2px solid #e6c5b4;
   
   

}
.feature-card{
    background-image: url('/image/bachelor.jpeg');
    background-size: cover;
    text-align: center;
    background-color:#f582ae;
    margin: 5px;
    border-radius: 5px;
    width: 400px;
    height: 200px;
   
    
}

.feature-card1{
    background-image: url('/image/communicate.jpeg');
    background-size: cover;
    text-align: center;
    background-color:#f3d2c1;
    margin: 5px;
    border-radius: 5px;
    width: 400px;
   
}
.feature-card2{
    background-image: url('/image/owner.jpeg');
    background-size: cover;
    text-align: center;
    background-color:#e37da4;
    margin: 5px;
    border-radius: 5px;
    width: 400px;
  
}
.feature-card3{
    background-image: url('/image/lightnight.jpeg');
    background-size: cover;
    text-align: center;
    background-color:#f3d2c1;
    margin: 5px;
    border-radius: 5px;
    width: 400px;
}  

.selers-info{
    border-radius:30px;
    background-color:#f3d2c1;
    border: #e6c5b4 solid 2px;
    margin: 10px;
    padding:5px;
    text-align: center;
   justify-content: center;
    width: 300px;
    
   
}
.btn{
    border-radius: 50%;
    padding: 10px;
    margin-top: 5px;
    margin-left: 0px;
}

.saler{
    
    padding: 5px;
    text-align: center;
}
.btn1{
    padding: 10px;
    border-radius:  15px;
    margin-left: 5px;
    margin-bottom: 2px;
    
}
.btn2{
    padding: 5px 10px;
    border-radius:  20px;
    color: #fff;
    border:solid 0px;
   
}
.recommended-saler{
    border: 2px solid #e6c5b4;
    margin: 5px 0;
    padding: 20px; 
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    box-shadow: 0 0 10px 0px #f582ae;
    flex-direction: row;
    flex-wrap: wrap;
}
.house-img{
    background-image: url('./../image/house-img.webp');
    background-size: cover;  
    border-radius: 25px;  
    width: 800px;
    border: 2px solid #e6c5b4;
    height: 400px;
    
}
.house{
    padding: 10px 20px;
    margin: 5px 0;
    box-shadow: 0 0 10px 0px #f582ae;
    background-color:#f3d2c1;
    margin-top: 20px;
    display: flex;
    

}
h1{
    color: #f582ae;
    padding: 10px;
}
h3{
    padding: 0px 10px;
}
.house-caption{

}
a{
    text-decoration: none;
    color:#e6c5b4;
    margin-top: 100px;
    font-size: 25px;
}