
h2{
    border-bottom: 2px solid #f582ae; 
    padding: 0px 10px;
    margin-bottom: 1em;
    margin-left: 50px;
    width: 1420px;
}
.header-color{
    background-color: #f582ae;
}
.main-header-color{
    background-color:#ffccdd;
}

.container
{
    
    border: 2px solid #e6c5b4;
    margin: 5px 0;
    padding: 20px; 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: 0 0 10px 0px #f582ae;
    margin-left: 50px;
    width: 1400px;

}
.img{
    width: 150px;
    border-radius: 20px;
    padding: 10px;
}
.menu-container
{
    
    background-color:#f3d2c1;
    border: 1px solid #ccc;
    margin: 5px;
    width: 200px;
    text-align: center;
    padding: 20px 10px;  
    border-radius: 5px;
    border: #e6c5b4 solid 2px;
   
}
.menu-container:hover{
    box-shadow: 0 0 10px 0px #f582ae;
}
p{
    
    font-family: "Montserrat", sans-serif;

}
.container1
{
    
    background-color:#f3d2c1;
    margin: 2px 0;
    padding: 5px; 
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    border: 2px solid #e6c5b4;
    box-shadow: 0 0 10px 0px #f582ae;
    margin-left: 50px;
    width: 1400px;
}
.feature-card{
    background-image: url('../image/bachelor.jpeg');
    background-size: cover;
    text-align:center;
    margin: 5px;
    border-radius: 5px;
    width: 400px;
    height: 250px; 
}
.feature-card:hover{
    box-shadow: 0 0 10px 1px #f3a4c2;
    border-radius:10px;
}
.feature-card1{
    background-image: url('../image/communicate.jpeg');
    background-size: cover;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    width: 400px;
}
.feature-card1:hover{
    box-shadow: 0 0 10px 1px #f3a4c2;
    border-radius:10px;
}
.feature-card2{
    background-image: url('../image/owner.jpeg');
    background-size: cover;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    width: 400px;   
}
.feature-card2:hover{
    box-shadow: 0 0 10px 1px #f3a4c2;
    border-radius:10px;
}
.feature-card3{
    background-image: url('../image/lightnight.jpeg');
    background-size: cover;
    text-align: center;
    background-color:#f3d2c1;
    margin: 5px;
    border-radius: 5px;
    width: 400px;
}  
.feature-card3:hover{
    box-shadow: 0 0 10px 1px #f3a4c2;
    border-radius:10px;
}

.selers-info{
    border-radius:30px;
    background-color:#f3d2c1;
    border: #e6c5b4 solid 2px;
    margin: 10px;
    padding:5px;
    text-align: center;
   justify-content: center;
    width: 300px;  
}
.selers-info:hover{
    box-shadow: 0 0 10px 0px #f582ae;
}
.btn{
    border-radius: 50%;
    padding: 10px;
    margin-top: 5px;
    margin-left: 0px;
}

.saler{
    
    padding-left: 20px;
    text-align: center;
}
.btn1{
    padding:7px 12px ;
    border-radius:  20px;
    margin-left: 5px;
    margin-bottom: 2px;   
    color: #fff;
    border:solid 0px; 
    color: #fff;
}
.btn1:hover{
    text-decoration: underline;
    cursor: pointer;
    padding: 9px 14px;
 }

.btn2{
    padding: 5px 10px;
    border-radius:  20px;
    color: #fff;
    border:solid 0px;  
}
.btn2:hover{
text-decoration: underline;
cursor: pointer;
padding:7px 12px ;
}
.recommended-saler{
    border: 2px solid #e6c5b4;
    margin: 5px 0;
    padding: 20px; 
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    box-shadow: 0 0 10px 0px #f582ae;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
    width: 1400px;
}
.house-img{
    background-image: url('./../image/house-img.webp');
    background-size: cover;  
    border-radius: 25px;  
    width: 800px;
    border: 2px solid #e6c5b4;
    height: 350px;
    padding:20px 10px;   
}
.house-img:hover{
    box-shadow: 0 0 10px 0px #f582ae;  
}
.house{
    padding: 10px 20px;
    margin: 5px 0;
    box-shadow: 0 0 10px 0px #f582ae;
    background-color:#f3d2c1;
    margin-top: 20px;
    display: flex;
    border: 2px solid #e6c5b4;
    margin-left: 50px;
    width: 1400px;
}
h1{
    color: #f582ae;
    padding: 10px;
}
h3{
    padding: 0px 10px;
}

a{
    text-decoration: none;
    color:black;
    margin-top: 0px;
    font-size: 25px;
    text-align: center;
   
}
.text1{
    margin-top: 200px;
}
.map{
     margin-left: 50px;
    align-items: center;
}
.Mumbai-Map{
    margin: 20px 100px;
    width: 1000px;
    height: 600px;
    border-radius: 30px;
  }
  .building-conatiner{
    background: linear-gradient(to right, #f3a4c2,#b09b9b);
    height:250px;
    width:600px;
    padding:20px;
    border-radius: 30px;
    display:flex;
    position: relative;
    margin: 20px;
    background-color:#dc8dec;
    
    
  
  }
  .footer-img{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    color:#fff;
  }
  .building-text{
    padding-top: 30px;
    font-size:40px;
    font-weight: 700;
  }
  .building-text1{
    padding-top: 30px;
    font-size:30px;
    font-weight: 700;
    padding-left:20px;
  }
  .building-text2{
    padding-left:20px;
    font-size:20px;
    
  }
  