body {
  background-color: #fef6e4;
}
.top_heading {
  margin-left: 67px;
  padding: 10px;
}

.cards_container {
  display: flex;
  background: linear-gradient(to right, #f5d6eb, #ccccff, #d98cb3);
  width: 1200px;
  height: 400px;
  margin-left: 70px;
  border-radius: 20px;
}
.cards_container:hover {
  border: 1px solid purple;
}
.card:hover {
  box-shadow: 2px 2px 1px 0px white;
  transition: 0.55s;
}
.dec_none {
  text-decoration: none;
}
.card {
  width: 260px;
  height: 330px;
  background: linear-gradient(to right, #c2d1f0, #eaf0fa);
  border: none;
  border-radius: 20px;
  box-shadow: 0px 20px 25px 3px #0d0d0d;
  margin: 20px;
}
.img {
  cursor: pointer;
  border: none;
  border-radius: 20px 20px 20px;
  height: 270px;
  width: 260px;
  display: block;
  margin: 0px auto;
}

.heading_center {
  text-align: center;
}
.text_padding {
  padding-top: 18px;
  color: #000066;
}
.plot-house-img {
  display: block;
  margin: 0px auto;
  width: 1178px;
  height: 600px;
  border: #000066;
  border-radius: 15px;
}
